[Unit]
Description=Syncing the Codium Configuration Service

[Service]
ExecStart=/bin/bash -c "${REPO_DIRECTORY}/scripts/syncing_script.sh"
Restart=always

[Install]
WantedBy=multi-user.target
